<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input type="text" matInput name="title" ngModel required #title="ngModel" placeholder="Post Title">
      <mat-error *ngIf="title.invalid">Please enter a post title.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput rows="4" placeholder="Post Content" name="content" ngModel required #content="ngModel"></textarea>
      <mat-error *ngIf="content.invalid">Please enter a post content.</mat-error>
    </mat-form-field>
    <br>
    <br>
    <button mat-raised-button color="primary" type="submit">Save Post</button>
  </form>
</mat-card>
